[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ec50estimator"]
	path = ec50estimator
	url = https://github.com/alvesks/ec50estimator
[submodule "epifitter"]
	path = epifitter
	url = https://github.com/alvesks/epifitter
